In [2]:
print('welcome python')

welcome python

In [4]:
#\t

print("\twelcome python")

	welcome python

In [6]:
print("languages\npython\n.net\noracle\njava")

languages
python
.net
oracle
java

In [8]:
print("courses:\n\tpython\n\tjava\n\t.net\n\toracle")

courses:
	python
	java
	.net
	oracle

In [28]:
students=('hari','dinesh','ramesh','saran')
print(students)

('hari', 'dinesh', 'ramesh', 'saran')

In [44]:
students.insert(1, "ram")
print(students)

AttributeError: 'tuple' object has no attribute 'insert'